<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div id="bod">

    <form [formGroup]="Loginform">
        <div class="wrapper">
            <div style="text-align: center;">
                <img src="../assets/images/users/SCH-Logo_color-tagline.png" alt="" width="250" height="80">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Email ID" formControlName="ngEmailID" [ngClass]="{ 'is-invalid':(submitted || forms['ngEmailID'].invalid && (forms['ngEmailID'].dirty || forms['ngEmailID'].touched))
                &&forms['ngEmailID'].errors?.['required'] }">

                <div style="color: red;" *ngIf="(submitted || forms['ngEmailID'].invalid && (forms['ngEmailID'].dirty || forms['ngEmailID'].touched) )
                &&forms['ngEmailID'].errors?.['required']">
                    Enter User Name or Email address
                </div>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" formControlName="ngPassword" [ngClass]="{ 'is-invalid':(submitted || forms['ngPassword'].invalid && (forms['ngPassword'].dirty || forms['ngPassword'].touched))
                &&forms['ngPassword'].errors?.['required'] }">

                <div style="color: red;" *ngIf="(submitted || forms['ngPassword'].invalid && (forms['ngPassword'].dirty || forms['ngPassword'].touched) )
                &&forms['ngPassword'].errors?.['required']">
                    Password is required!
                </div>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button class="btn" type="button" (click)="loginBtn()">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a routerLink="/Register">
                    Register
                </a></p>
            </div>       
        </div>
    </form>
</div>